{% extends "base.html" %}
{% load static i18n %}
{% load thumbnail %}
{% block title %}{% trans 'Сообщения' %}{% endblock %}

{% block head %}
  <link href="{% static 'css/messager.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}

  <div class="page-header">
    <!-- <h1>{{ request.user.get_profile_name|title }} {% trans 'Диалоги' %}</h1> -->
    <!-- <h3>Контакты</h3> -->
  </div>
  <div class="row" style="margin-top: 1em;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);width:auto;height:auto; background: #F5F5F5">
    <div class="col-md-3 list-group users-list" style="">
      {% for user in users_list %}
        <a href="{% url 'messager:conversation_detail' user.username  %}"
           class="list-group-item list-group-item-action {% if active == user.username %}active{% endif %}">
          {% thumbnail user.picture "x30" as im %}
            <img src="{{ im.url }}" alt="{% trans 'Фото Профиля' %}">
          {% empty %}
            <img src="{% static 'img/user.png' %}" height="30px" alt="{% trans 'Нет фото профиля' %}" />
          {% endthumbnail %}
          {{ user.get_profile_name|title }}
        </a>
      {% endfor %}
    </div>
    <div id="conversation" class="col card" style="width:40%;height:40%;margin-left:-15px" >
      <div class="messages-list">
        {% if message_list %}
          {% for message in message_list %}
            {% include 'messager/single_message.html' with message=message %}
          {% endfor %}
        {% else %}
         <center> <h4>{% trans 'Это начало вашего диалога.' %}</h4></center>
         <hr>
          <!-- <p>{% trans "Напишите что-нибудь" %}</p> -->
        {% endif %}
        <li class="send-message"></li>
      </div>
      <div style="margin-bottom: : 10px; margin-top: 10px; float:left">
      <form role="form" method="post" action="#" id="send">
      <div class="col">
      <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;</div>
        </div>
        {% csrf_token %}
            <input type="hidden" name="to" value="{{ active }}">
            <input class="form-control" type="text" name="message" style="width:100px" placeholder="{% trans 'Написать...' %}" maxlength="1000" autocomplete="off">
      </div>
    </div>
    </div>
  </form>
</div>
  </div>

{% endblock content %}

{% block modal %}
  <script type="text/javascript">
      var activeUser = "{{ active }}";
      window.onload = $('.messages-list').scrollTop($('.messages-list')[0].scrollHeight);
  </script>
  <script src="{% static 'js/messager.js' %}" type="text/javascript"></script>
{% endblock modal %}
