{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Подтвердите E-mail адресс" %}{% endblock %}


{% block inner %}
<div class="card" style="margin:auto;padding:20px;text-align: center;box-shadow: 0 0 10px rgba(0,0,0,0.5); " >
<h1>{% trans "Подтвердите E-mail адрес" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Пожалуйста, подтвердите что ваш e-mail <a href="mailto:{{ email }}">{{ email }}</a> соответсвует к пользователю  <b>{{ user_display }}</b>.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="btn btn-dark" type="submit">{% trans 'Подтвердить' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}
</div>
{% endblock %}

