{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Сбросить пароль" %}{% endblock %}

{% block inner %}

    <h1>{% trans "Сбросить пароль" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Забыли пароль? Введите пароль, мы отправим вам по e-mail пароль для сброса." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="{% trans 'Сбросить пароль' %}" />
    </form>

    <p>{% blocktrans %}Пожалуйста свяжитесь с нами,если возникли проблемы со сбросу пароля.{% endblocktrans %}</p>
{% endblock %}

