{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Сбросить пароль" %}{% endblock %}

{% block inner %}
    <div class="card" style="text-align: center;box-shadow: 0 0 10px rgba(0,0,0,0.5); background-color: #ebebeb;" >
    <div style="margin:20px">
    <h1>{% trans "Восстановление пароля" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Введите <b>электронную почту</b>, мы отправим вам новый пароль." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" style="width: 70%; margin:auto" >
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-secondary" style='background-color: #004a7a;width:60%' type="submit" value="{% trans 'Восстановить' %}" />
    </form>
    </div>
    </div>
{% endblock %}

