{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Ответить на вопрос' %}{% endblock %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
<!--       <li class="breadcrumb-item"><a href="{% url 'qa:index_all3' %}">{% trans 'Обсуждения' %}</a></li> -->
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Ответить на вопрос' %}</li>
    </ol>
  </nav>
<div class="card" style="padding:10px; box-shadow: 0 0 10px rgba(0,0,0,0.5);margin-right: auto;margin-left: auto;margin-top:10px">
  <form action="{% url 'qa:propose_answer3' view.kwargs.question_id %}" id="answerForm" method="post" role="form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
      <button id="answer" type="submit" class="btn btn-secondary" style="background-color: #004a7a"> <i class="fa fa-reply" aria-hidden="true"></i>{% trans ' Ответить' %}</button>
      <a href="{% url 'qa:index_all3' %}" class="btn btn-default">{% trans 'Отмена' %}</a>
    </div>
  </form>
  {{ form.media }}
</div>

{% endblock content %}
