{% load i18n %}
{% load humanize static %}
{% load thumbnail %}
<li class="infinite-item card" news-id="{{ news.uuid_id }}">
  <div class="card-body">
    <div class="profile-picture">
      {% thumbnail news.user.picture "x60" as im %}
        <img src="{{ im.url }}" class="pull-left" style="border-radius: 50%;" alt="{% trans 'Фото пользователя' %}" class="user-image">
      {% empty %}
        <img src="{% static 'img/user.png' %}" class="pull-left" height="60px" alt="{% trans 'Нет фото профиля' %}" />
      {% endthumbnail %}
    </div>
    <div class="post">
      {% if news.user == request.user %}
        <a data-toggle="modal" data-target="#exampleModal" style="color: #004a7a;" class="deletePost">
          <i class="fa fa-times pull-right" aria-hidden="true" title="{% trans 'Нажмите, чтобы удалить новость' %}"></i>
        </a>

      <!--Modal!-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
           <div class="modal-header">
            <legend class="modal-title" id="exampleModalLabel" >Удаление поста</legend>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>

          <div class="modal-body">
            <p>{% trans 'Вы уверены что хотите удалить новость?' %}</p>
          </div>

          <div class="modal-footer">
            <form method="post" action="{% url 'news:delete_news' news.pk %}" style="margin-right: auto">
              {% csrf_token %}
              <button class="btn btn-danger" type="submit" >{% trans 'Удалить' %}</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
<!--Modal!-->

      {% endif %}
      <p>
        <strong>
          <a href="{% url 'users:detail' news.user.username  %}">{{ news.user.get_profile_name|title }}</a>
        </strong>
      </p>
      <p>1) {{ news.content }}</p>
      <p>2) {{ news.content_two }}</p>
      <p>3) {{ news.content_three }}</p>
      <p>4) {{ news.content_four }}</p>
      {% if news.image %}
        <img class="card-img-top" src="{{ news.image }}" alt="Фото карточки">
      {% endif %}
    </div>
  </div>
  <div class="interaction" id="interaction">
    <a href="#" class="like" title="{% for i in news.get_likers %}{{ i }}&#10;{% endfor %}">
      {% if request.user in news.get_likers %}
        <i class="fa fa-chevron-up vote up-voted question-vote" aria-hidden="true"></i>
      {% else %}
        <i class="fa fa-chevron-up vote up-vote question-vote" aria-hidden="true"></i>
      {% endif %}
      <span class="like-count">{{ news.count_likers }}</span>
    </a>
    <a href="#" class="dislike" title="{% for i in news.get_dislikers %}{{ i }}&#10;{% endfor %}">
      {% if request.user in news.get_dislikers %}
        <i class="fa fa-chevron-down voted down-vote question-vote" aria-hidden="true"></i>
      {% else %}
        <i class="fa fa-chevron-down vote down-vote question-vote" aria-hidden="true"></i>
      {% endif %}
      <span class="dislike-count">{{ news.count_dislikers }}0</span>
    </a>
    <a href="#" class="comment"><i class="fa fa-comment-o" aria-hidden="true"></i>
      <span class="comment-count">{{ news.count_thread }}</span>
    </a>
    <span class="timestamp">{{ news.timestamp|naturaltime }}</span>
  </div>
</li>
<style>
  .deletePost i:hover {
    color: red;
  }
</style>
