{% load i18n %}
<div class="modal fade" id="newsFormModal" tabindex="-1" role="dialog" aria-labelledby="newsFormModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Поле!" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>




      <div class="modal-body">
          <form id="postNewsForm" role="form" method="post" action="#" onsubmit="return false">
          {% csrf_token %}
            <div class="form-group">
              <label for="newsInput">Первая:</label>
              <textarea id="newsInput" name="post" rows="3" class="form-control" maxlength="1000"></textarea>
              <span id="newsCounter" class="pull-right">1000</span>
            </div>
          </form>

          <form id="postNewsFormTwo" role="form" method="post" action="#" onsubmit="return false">
          {% csrf_token %}
            <div class="form-group">
              <label for="newsInput2">Вторая:</label>
              <textarea id="newsInput2" name="post2" rows="3" class="form-control" maxlength="1000"></textarea>
              <span id="newsCounter2" class="pull-right">1000</span>
            </div>
          </form>

          <form id="postNewsFormThree" role="form" method="post" action="#" onsubmit="return false">
          {% csrf_token %}
            <div class="form-group">
              <label for="newsInput3">Третья:</label>
              <textarea id="newsInput3" name="post3" rows="3" class="form-control" maxlength="1000"></textarea>
              <span id="newsCounter3" class="pull-right">1000</span>
            </div>
          </form>

          <form id="postNewsFormFour" role="form" method="post" action="#" onsubmit="return false">
          {% csrf_token %}
            <div class="form-group">
              <label for="newsInput4">Четвертая:</label>
              <textarea id="newsInput4" name="post4" rows="3" class="form-control" maxlength="1000"></textarea>
              <span id="newsCounter4" class="pull-right">1000</span>
            </div>
          </form>

      </div>
      <div class="modal-footer">
          <button type="button" id="postNews" class="btn btn-primary">
          <i class="fa fa-paper-plane" aria-hidden="true"></i> {% trans 'Опубликовать новость' %}
          </button>

        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Отмена' %}</button>
      </div>
    </div>
  </div>
</div>