{% extends 'base.html' %}
{% load static i18n humanize %}
{% load thumbnail %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
       
  <div class="container card">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Публикация</a></li>
      <li><a href="#profile" data-toggle="tab">Свобдная таблица</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
        <form id="tab">

 <div class="form-group">
    <label for="exampleFormControlTextarea1">Текстовая форма</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Напишите текст для вашей публикации"></textarea>
  </div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Опубликовать</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

        </form>
      </div>
          <div class="tab-pane fade" id="profile">
 
 

<input class="form-control"  type="text" id="two" placeholder="Наименование статьи">


 <textarea class="form-control"  rows="3" placeholder="Редакция проекта" type="text" id="three" ></textarea>

 <textarea class="form-control"  rows="3" type="text" id="four" placeholder="Предлагаемая редакция" ></textarea>

  <textarea class="form-control"  rows="3" type="text" id="five" placeholder="Обоснование" ></textarea>

<input  class="form-control" type="text" id="six" placeholder="Наименование организации">
<input  class="form-control" type="text" id="seven" placeholder="Мнение разработчиков(вслучае несогласия обоснование)">
<br><center>
<button onclick="add()" class="btn btn-secondary">Добавить</button>
<button onclick="update()" class="btn btn-secondary">Обновить</button></center>
<br><br>
<table class="table table-bordered" style=" width: 1000px;">
<thead>
<th>#</th>
<th>Наименование статьи</th>
<th>Редакция проекта</th>
<th>Предлагаемая редакция</th>
<th>Обоснование</th>
<th>Наименование организации</th>
<th>Мнение разработчиков (в случае несогласия обоснование)</th>
</thead>
<tbody id="data">
</tbody>

</table>

<script>
// var newone=[]
var newtwo=[]
var newthree=[]
var newfour=[]
var newfive=[]
var newsix=[]
var newseven=[]
function add(){

// var one=document.getElementById('one').value
var two=document.getElementById('two').value
var three=document.getElementById('three').value
var four=document.getElementById('four').value
var five=document.getElementById('five').value
var six=document.getElementById('six').value
var seven=document.getElementById('seven').value
// newone.push(one);
newtwo.push(two);
newthree.push(three);
newfour.push(four);
newfive.push(five);
newsix.push(six);
newseven.push(seven);
listshow();
}

function listshow(){
var list=""
for(var i=0;i<newtwo.length;i++){
list+= "<tr><td>"+(i+1)+"</td>"+"<td>"+newtwo[i]+"</td>"+"<td>"+newthree[i]+"</td>"+"<td>"+newfour[i]+"</td>"+"<td>"+newfive[i]+"</td>"+"<td>"+newsix[i]+"</td>"+"<td>"+newseven[i]+"</td>"+"<td>"+"<button class='btn btn-primary' onclick='edt("+i+")'><span class='glyphicon glyphicon-edit'></span>&nbsp;Редактировать</button><button class='btn btn-primary' onclick='del("+i+")'><span class='glyphicon glyphicon-remove-circle'></span>&nbsp;Удалить</button>"+"</td></tr>"


}
document.getElementById('data').innerHTML=list

}

var load=""
function edt(edit){
load=edit
// document.getElementById('one').value=newone[edit]
document.getElementById('two').value=newtwo[edit]
document.getElementById('three').value=newthree[edit]
document.getElementById('four').value=newfour[edit]
document.getElementById('five').value=newfive[edit]
document.getElementById('six').value=newsix[edit]
document.getElementById('seven').value=newseven[edit]

}

function update(){
// newone[load]=document.getElementById('one').value
newtwo[load]=document.getElementById('two').value
newthree[load]=document.getElementById('three').value
newfour[load]=document.getElementById('four').value
newfive[load]=document.getElementById('five').value
newsix[load]=document.getElementById('six').value
newseven[load]=document.getElementById('seven').value
listshow();

}

function del(dok){
// newone.splice(dok,1)
newtwo.splice(dok,1)
newthree.splice(dok,1)
newfour.splice(dok,1)
newfive.splice(dok,1)
newsix.splice(dok,1)
newseven.splice(dok,1)
listshow();
}



</script>
<style>

table {
  border-collapse: separate;
  border-spacing: 0;
 
}
th,
td {
  padding: 6px 15px;
}
th {
  background: #337ab7;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #337ab7;
  border-bottom: 1px solid #337ab7;
}
td:first-child {
  border-left: 1px solid #337ab7;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
</style> 
        </form>




 

