{% extends "base.html" %}
{% load static i18n %}
{% load thumbnail %}

{% block title %}{{ object.username }}{% endblock %}

{% block head %}
  <link href="{% static 'css/user_profile.css' %}?v=1" rel="stylesheet">
{% endblock head %}

{% block content %}
  <div >
    <div class="row justify-content-md-center">

      <div class="col-sm-4">
          <div class="card" style="box-shadow: 0 0 10px rgba(0,0,0,0.5);" >
              {% thumbnail object.picture "x150" as im %}
              <img src="{{ im.url }}" alt="Picture Profile" id="pic" class="card-img-top">
              {% empty %}
              <img class="pull-center" src="{% static 'img/user.png' %}" height="360px" alt="No Profile Picture" class="card-img-top"/>
              {% endthumbnail %}
              {% if request.user == object %}
            <div class="card-body" style="text-align: center;">
                <a class="btn btn-dark" style=" background-color: #004a7a;width:100%;height:10%" href="{% url 'users:update' %}"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;{% trans 'Настройки профиля' %}</a>
            </div>
          {% endif %}
        </div>
  </div>

    <div id="contact-info" class="col-sm-8">

        <h1 class="fn">
          {{ object.username|title }}
          {% if object.short_bio %}
            <br /><small style="font-size: 50%">{{ object.short_bio }}</small>
          {% endif %}
        </h1>
        <p>
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          {{ object.get_profile_name|title }}
          <br />
          <i class="fa fa-envelope" aria-hidden="true"></i><a class="email" href="mailto:{{ object.email }}">   {{ object.email }}</a><br>
          {% if object.job_title %}
            <i class="fa fa-briefcase" aria-hidden="true"></i> {{ object.job_title }} <br>
          {% endif %}
        {% if object.region %}
            <i class="fa fa-globe" aria-hidden="true"></i> {{ object.get_region_display }}<br>
          {% endif %}
          {% if object.city %}
            <i class="fa fa-building" aria-hidden="true"></i>  {{ object.city }} <br>
          {% endif %}
          {% if object.location %}
            <i class="fa fa-map-marker" aria-hidden="true"></i> {{ object.location }} <br>
          {% endif %}
        {% if object.business_type %}
            <i class="fa fa-industry" aria-hidden="true"></i> {{ object.get_business_type_display }} <br>
          {% endif %}
        {% if object.phone_number %}
            <i class="fa fa-phone-square" aria-hidden="true"></i> {{ object.phone_number }} <br>
          {% endif %}

        </p>

    <div id="objective"><p>{{ object.bio }}</p></div>
    <div class="clear"></div>
    {% if object.personal_url %}
      <a href="{{ object.personal_url }}" style="font-size: 2em" title="{% trans 'Личный сайт' %}"><i class="fa fa-rss"></i>  </a>
    {% endif %}
    </div>
    </div>
  </div>
{% endblock content %}
