{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ user.username|title }}{% endblock %}

{% block head %}
  <link href="{% static 'css/user_form.css' %}?v=1" rel="stylesheet">
{% endblock head %}

{% block content %}

  <div class="card text-center profile" style="width: 45rem; margin: auto; margin-top:10px; margin-bottom:10px; box-shadow: 0 0 10px rgba(0,0,0,0.5); background: #F5F5F5">
    <div class="user-profile" style="text-align: center">
      {% if user.name %}<h3 class="font-weight-bold">{{ user.name }}</h3>{% endif %}
      {% if user.picture %}
        {% thumbnail user.picture "x250" as im %}
          <img src="{{ im.url }}" alt="Картинка профиля" id="pic" class="rounded-circle">
        {% endthumbnail %}
      {% else %}
        <img src="{% static 'img/user.png' %}" alt="Нет фото" class="rounded-circle"/>
      {% endif %}
      <form enctype="multipart/form-data" class="form-horizontal" method="post" action="{% url 'users:update' %}" style="width:90%; margin:auto">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-dark" style="margin-bottom: 10px">{% trans 'Сохранить' %}</button><br>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}